.navbar-icon{
  display: flex;
  justify-content: end;
  gap: 20px;
  
}

.navbar i {
  font-size: 20px;
  color: rgb(29, 29, 149);
}

.div-cart {
  position: relative;
}
.cart-item {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red; 
  color: white; 
  padding: 1px;
}

.order-summary {
  background-color: rgb(208, 204, 204);
}

.cart-quantity-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cart-quantity {
  align-items: center;
  background-color: #0006;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  width: 100px;
}

.cart-quantity>span:first-child {
  cursor: pointer;
  text-align: center;
  width: 25px;
}

.cart-quantity>span:last-child {
  cursor: pointer;
  text-align: center;
  width: 25px;
}